@import url('https://fonts.googleapis.com/css?family=Indie+Flower');


/* --------------------- HTML & body --------------------- */
html, body
{
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    color: rgb(59, 1, 59);
}

/* ---------------------- Navigation ----------------------*/
.navbar-nav li
{
    padding-right: 100px;
}

/* .navbar-nav a:hover {
    background-color: rgb(96, 177, 88);
} */

.navbar-nav a
{
    text-align: center;
    text-align: justify;
    text-shadow: 3px 2px #d5d5d5; 
}

.navigation-options
{
    font-size: 35px;
    margin-top: 50px;
    position: absolute;
    
    -webkit-text-stroke: 2px black;

}

/* -------------------- Carousel Divs ---------------------*/
.carousel-title
{
    color: rgb(111, 0, 255);
    font-size: 120px;
    font-weight: 900;
    margin-bottom: 200px;

    -webkit-text-stroke: 1px black;

}

.country-title-dub 
{
    color: rgb(83, 243, 83);
    margin-top: 120px;
    -webkit-text-stroke: 1px black;
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
}
.country-title-ber 
{
    color: rgb(0, 0, 0);
    margin-top: 120px;
    -webkit-text-stroke: 1px black;
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
}
.country-title-lon 
{
    color: red;
    margin-top: 120px;
    -webkit-text-stroke: 1px black;
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
}
.country-title-mad 
{
    color: rgb(255, 0, 85);
    margin-top: 120px;
    -webkit-text-stroke: 1px black;
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
}
.country-title-par 
{
    color: white;
    margin-top: 120px;
    -webkit-text-stroke: 1px black;
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
}
.carousel-caption
{
    position: absolute;
}
.carousel-indicators
{
    margin-bottom: 100px;
}

/* ---------------Destination Option Forms--------------- */
/* .custom-select
{
    
} */

/* ---------------Home view--------------- */
#lets-button
{
    margin-top: 50px;
    margin-left: 900px;
}
.custom-select
{
    z-index: 1;
    margin-left: 65px;
    width: 40%;
}
.jumbotron
{
    background-image: url('/assets/site_images/panorama2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
#where-happening
{
    margin-left: 250px;
}


/*------------------------ Footer ----------------------- */
footer
{
    background-color: rgb(44, 43, 43);
    color: #d5d5d5;
    padding-top: 10px;
}




/*-------------------------------------------------------------
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/